@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* height: 100vh; */
}

.speedometer {
  margin: auto;
}

.checkbox-round {
  width:1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid rgb(179, 173, 173);
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.checkbox-round:checked {
  appearance: auto;
  clip-path: circle(50% at 50% 50%);
}


